{% extends 'core/base/base.html' %}
{% load static %}

{% block title %}Inmobiliaria{% endblock %}

{% block content %}

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        {% if propiedades %}
        {% for propiedad in propiedades %}
        {% if propiedad.featured %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            <img src="{{ propiedad.image.url }}" class="d-block w-100" alt="...">
            <div class="carousel-caption promo d-none d-md-block">
                <h5>{{ propiedad.get_propType_display }}</h5>
                <p>{{ propiedad.description }}</p>
                <a href="{{ propiedad.get_absolute_url }}"><button class="btn btn-secondary">Ver más</button></a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="carousel-item active">
            <img src="{% static 'images/fondo-portada.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption promo d-none d-md-block">
                <h5>Bienvenido a Inmobiliaria</h5>
                <p>Aquí podras encontrar tu propiedad</p>
            </div>
        </div>
        {% endif %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="container mt-3">
    <h2 class="text-center mb-3">Algunas de nuestras propiedades</h2>
    {% if propiedades %}
    <div class="row">
        {% for propiedad in propiedades %}
        {% if not propiedad.sold_out %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                    alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                    src="{{ propiedad.image.url }}" data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">{{ propiedad.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ propiedad.get_absolute_url }}" type="button" class="btn btn-sm btn-success">Ver mas</a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <small class="text-muted">Habitaciones: {{ propiedad.rooms }}</small>
                        <small class="text-muted">Baños: {{ propiedad.bathrooms }}</small>
                        <small class="text-muted">Superficie: {{ propiedad.surfice }}mts2</small>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="text-center mb-3">
        <a class="btn btn-primary" href="{% url 'propiedad:list' %}">Ver todas las propiedades</a>
    </div>
    {% else %}
        <div class="alert alert-info text-center">
            <strong>No hay propiedades registradas en este momento.</strong>
        </div> 
    {% endif %}
</div>

<!-- Agentes -->

<div class="container marketing">

    <h2 class="text-center mb-3">Nuestros agentes</h2>
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'images/agente1.jfif' %}"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" />
            <h2>Marcos Gualas</h2>
            <p>Correo: marcosgualas@gmail.com</p>
            <p>Telefono: 3834111111</p>
        </div>
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'images/agente2.jfif' %}"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" />
            <h2>Sofia Venitez</h2>
            <p>Correo: sofiavenitez@gmail.com</p>
            <p>Telefono: 3834222222</p>
        </div>
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'images/agente3.jfif' %}"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" />
            <h2>Rocío Vera</h2>
            <p>Correo: rociovera@gmail.com</p>
            <p>Telefono: 3834333333</p>
        </div>
    </div>
    <div class="text-center mb-3">
        <a class="btn btn-primary" href="#">Ver todos los agentes</a>
    </div>
</div>

{% endblock %}