<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Inmobiliaria
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'core:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'propiedad:list' %}">Propiedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact:contact' %}">Contacto</a>
                </li>
                {% if user.is_authenticated %}
                {% if not user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'venta:vendidas' %}">Mis compras</a>
                </li>
                {% endif %}
                {% endif %}
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'propiedad:registrar' %}">Registrar Propiedad</a>
                </li>
                {% endif %}
                {% if user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Administracion</a>
                </li>
                {% endif %}

            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="nav-link mr-auto "><span class="ti-user">  </span>{{ request.user.name }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-auto" href="{% url 'user:logout' %}">Salir</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link mr-auto" href="{% url 'user:login' %}">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-auto" href="{% url 'user:register' %}">Registrarse</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>