{% extends 'core/base/base.html' %}

{% block title %}Mis Ventas Completadas{% endblock %}

{% block content %}

<div class="container" style="min-height: 627px">
    <h2 class="text-center">Listado de ventas Completadas</h2>
    <hr class="col-7">
    <div class="container-fluid">
        {% if ventas %}
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID Venta</th>
                    <th scope="col">ID Propiedad</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha Reservada</th>
                    <th scope="col">Fecha venta Completada</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ venta.id }}</td>
                    <td><a href="{{ venta.propiedad.get_absolute_url }}">{{ venta.propiedad.id }}</a></td>
                    <td>{{ venta.usuario }}</td>
                    <td>{{ venta.usuario.email }}</td>
                    <td>{{ venta.reserved }}</td>
                    <td>{{ venta.completed_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info text-center">
            <strong>No registras ninguna venta completada.</strong>
        </div> 
        {% endif %}
    </div>
</div>
{% endblock %}